<component name="libraryTable">
  <library name="spring-boot-starter-jdbc-1.2.6.RELEASE">
    <CLASSES>
      <root url="jar://$USER_HOME$/.gradle/caches/modules-2/files-2.1/org.springframework.boot/spring-boot-starter-jdbc/1.2.6.RELEASE/30e037f93fac5338a12bdefcc92c91920674c99e/spring-boot-starter-jdbc-1.2.6.RELEASE.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES>
      <root url="jar://$USER_HOME$/.gradle/caches/modules-2/files-2.1/org.springframework.boot/spring-boot-starter-jdbc/1.2.6.RELEASE/992b159bbba7eb167a76187c930e0f258d7988d9/spring-boot-starter-jdbc-1.2.6.RELEASE-sources.jar!/" />
    </SOURCES>
  </library>
</component>