<component name="libraryTable">
  <library name="spring-boot-starter-data-jpa-1.2.6.RELEASE">
    <CLASSES>
      <root url="jar://$USER_HOME$/.gradle/caches/modules-2/files-2.1/org.springframework.boot/spring-boot-starter-data-jpa/1.2.6.RELEASE/9fbbae4061ef8d37c8c0c999fb98fe92731f6d7c/spring-boot-starter-data-jpa-1.2.6.RELEASE.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES>
      <root url="jar://$USER_HOME$/.gradle/caches/modules-2/files-2.1/org.springframework.boot/spring-boot-starter-data-jpa/1.2.6.RELEASE/b0576bc6b8effbacbf352ca438c5d9389f0d6689/spring-boot-starter-data-jpa-1.2.6.RELEASE-sources.jar!/" />
    </SOURCES>
  </library>
</component>