<component name="libraryTable">
  <library name="spring-boot-starter-data-rest-1.2.6.RELEASE">
    <CLASSES>
      <root url="jar://$USER_HOME$/.gradle/caches/modules-2/files-2.1/org.springframework.boot/spring-boot-starter-data-rest/1.2.6.RELEASE/2b9c46cd19329153031a65ecb435dcd34fa9c456/spring-boot-starter-data-rest-1.2.6.RELEASE.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES>
      <root url="jar://$USER_HOME$/.gradle/caches/modules-2/files-2.1/org.springframework.boot/spring-boot-starter-data-rest/1.2.6.RELEASE/be463210de1fdd97ded22ee32ba9b94b98b57c0c/spring-boot-starter-data-rest-1.2.6.RELEASE-sources.jar!/" />
    </SOURCES>
  </library>
</component>