<component name="libraryTable">
  <library name="spring-data-rest-webmvc-2.2.3.RELEASE">
    <CLASSES>
      <root url="jar://$USER_HOME$/.gradle/caches/modules-2/files-2.1/org.springframework.data/spring-data-rest-webmvc/2.2.3.RELEASE/831ee4037655554ca291bce3e2ab86cb14bfce35/spring-data-rest-webmvc-2.2.3.RELEASE.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES>
      <root url="jar://$USER_HOME$/.gradle/caches/modules-2/files-2.1/org.springframework.data/spring-data-rest-webmvc/2.2.3.RELEASE/6e379ea1838d6d5eb701a27c5e1af5109846e164/spring-data-rest-webmvc-2.2.3.RELEASE-sources.jar!/" />
    </SOURCES>
  </library>
</component>